.header{
  height : 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border: none;

}

.left-section{
  display: flex;
  align-items: center;
  width: 100px;
  margin-right: 0px;
  border: none
}
.hamburger-menu{
  height: 35px;
  margin-left: 24px;
  margin-right: 20px;
}
.middle-section{
  display: flex;
  align-items: center;
  flex: 2;
  margin-left: 70px;
  margin-right: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.logo{
  padding-left: 500px;
  height: 80px;
  
}
.right-section{
  display: flex;
  flex: 1;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 0px;
  margin-right: 0px;
}
.search-button{ 
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80px;
  left: 0;
  margin-right: 0px;
}
.search-icon{
  display: flex;
  height: 30px;
}
.favourite-button{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80px;
  left:0;
  margin-right: 0px;
  margin-left: 0px;
}
.favourite-icon{
  display: flex;
  height: 30px;
}
.location-button{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80px;
  left: 0;
}
.location-icon{
  display: flex;
  height: 30px;
}
.cart-button{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 80px;
  left:0;
}
.cart-icon{
  display: flex;
  height: 30px;
}
